# everything is on docker so you can create your own
DB_USER= #put your own user
DB_PASSWORD= #put your own password
DB_NAME= #put your own db
REDIS_URL= #put your own redis
PORT= #put your own port
JWT_SECRET= #put your own jwt
DATABASE_URL= #put your own database