node_modules
.env
dist
.DS_Storelogs/
.gitignore
logs/

#Test files
src/services/testPlaywright.js
src/services/mockData.js
src/services/adzunaService.js
src/services/joobleService.js
src/services/arbeitNowService.js
src/services/jobBankService.js
src/services/indeedRSSService.js

#Log files
logs/
*.logs
combined.log
error.log

# OS files
Thumbs.db
.env.production
AI Automation Tool docs.docx
src/services/.seedMockjobs.js